.mqopen-header {
}

.mqopen-header h1 {
    font-size: 8em;
}

.component-icon {
    font-size: 12em;
}

.heading-icon {
    font-size: 16em;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.about-column {
    padding: 0px 40px;
}

.name {
    font-size: 2em;
}

.link-contact {
    font-size: 2.6em;
    text-decoration: none;
    color: black;
}
