body {
    padding-top: 51px;
    font-size: 1.2em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.6em;
}

.carousel-inner > .item {
    background-size: 100% auto;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.mqopen-header {
    color: #ffffff;
    position:absolute;
    z-index:12;
    top:30%;
    left:0;
    width:100%;
    text-align:center;
}

.mqopen-header h1 {
    font-size: 8em;
}

.mqopen-learn-wiki {
    font-size: 1.8em;
}

.component-icon {
    font-size: 12em;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.about-column {
    padding: 0px 40px;
}

.name {
    margin-top: 10px;
    font-size: 1.2em;
}

.mqopen-contact {
    background: #DBDBDB;
}

.link-contact {
    font-size: 2.2em;
    text-decoration: none;
    color: black;
}
